.lead {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

@media screen and (max-width: 1124px) {
  .lead {
    padding-top: 18px;
  }
}


@media screen and (max-width: 900px) {
  .lead {
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 740px) {
  .lead {
    padding-top: 28px;
  }
}