.page__section {
  box-sizing: border-box;
  padding-right: 48px;
  padding-left: 48px;
  margin: auto;
  max-width: 1280px;
}

@media screen and (max-width: 900px) {
  .page__section {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 740px) {
  .page__section {
    padding-right: 16px;
    padding-left: 16px;
  }
}
